[Desktop Entry]
Name=Dillo
Comment=Dillo - The GTK Web Browser
Comment[pl]=Dillo - przeglądarka WWW
Icon=dillo
Exec=dillo
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
