[Desktop Entry]
Name=Dillo
Comment=Dillo - The GTK Web Browser
Comment[pl]=dillo - przegladarka web
Exec=dillo
Terminal=1
Type=Application
# vi: encoding=utf-8
