[Desktop Entry]
Name=Dillo
Comment=Dillo - The GTK Web Browser
Comment[pl]=Dillo - przeglądarka WWW
Icon=dillo.png
Exec=dillo
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
Encoding=UTF-8
# vi: encoding=utf-8
